<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>HIPR</title>
    <script src="Build/UnityLoader.js"></script>
    
    <!-- STEP 1. define gameInstance -->

    <script type="text/javascript">
        
        // just comment game instance if Unity
        var gameInstance = {
            SetFullscreen: (v) => {
                console.log('SetFullscreen', v)
            },
            SendMessage: (interactor, fn, message) => {
                console.log('SendMessage', interactor, fn, message)
            }
        }
    </script>

    <!-- STEP 2. load metamask web3 -->

    <script src="javascripts/web3-client-internal.js"></script>

    <!-- STEP 3. connect to hipr browser internal -->

    <script src="javascripts/hipr-browser-internal.js"></script>

    <!-- STEP 4. define internal api -->
    
    <script type="text/javascript">
        // API

        // CALLBACK

        function SendResultBack(key, result)
        {
            var message = key + "#" + result;
            console.log('SendResultBack', message)
            gameInstance.SendMessage('JavascriptInteractor', 'ProcessResult', message);
        }

        // METHODS

        function GetPuzzleInternal()
        {
            HIPRInternal.GetPuzzle()
            // -> "ajdhajsndjsadjsah"
        }

        function GetTopScoresInternal(count)
        {
            HIPRInternal.GetTopScores(count)
            // -> "0x111111111|15;0x22222222|12;0x33333333|11;0x444444444|9;0x555555555|3;"
        }

        function SetScoreInternal(score)
        {
            HIPRInternal.SetScore(score);
            // -> "true"
        }

        function ValidatePuzzleResultInternal(resultHash)
        {
            SendResultBack('ValidatePuzzleResult', 'true');
            //return HIPRInternal.ValidatePuzzleResult();
            // -> "true"
        }
    </script>

    <!-- STEP 5. onload init web3 -->
    
    <script src="Build/UnityLoader.js"></script>
    <script>
    	window.addEventListener('load', async () => {
            // Modern dapp browsers...
            if (window.ethereum) {
                window.web3 = new Web3(ethereum);
                try {
                    // Request account access if needed
                    await ethereum.enable();
                    // Acccounts now exposed
                    OnCheckingDone();
                } 
                catch (error) {
                    OnError("User denied access to Metamask for this app");
                }
            }
            // Legacy dapp browsers...
            else if (window.web3) {
                window.web3 = new Web3(web3.currentProvider);
                // Acccounts always exposed
                OnCheckingDone();
            }
            // Non-dapp browsers...
            else {
                OnError('Non-Ethereum browser detected. You should consider trying MetaMask!');
            }
        });

    	function OnCheckingDone()
    	{
    		if(typeof(window.web3.eth.accounts[0]) == 'undefined')
    		{
    			OnError("Please log into Metamask to play on HIPR.");
    		}
    		else
    		{                
                if (window.UnityLoader)
                    gameInstance = UnityLoader.instantiate("gameContainer", "Build/public.json");
                
                HIPRInternal.init()
    		}
    	}

    	function OnError(message)
    	{
            window.location.href = "/";
    	}

    </script>

</head>
<body style="background: rgb(35, 31, 32);">
    <div id="gameContainer" style="width: 100%; height: 100%; position: absolute; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; padding: 0px; border: 0px; background: rgb(35, 31, 32);"></div>
  
    <!--<div id="errorPage">
        <div class="container grid-lg errorContainer">
            <div class="columns">
                <div class="column col-5 col-xl-12">
                    <div class="column col-12 text-center">
                        <h2>Human Initiated Performance Report</h2>
                    </div>
                    <div class="column col-12 text-center">
                        <img class="img-responsive hiprLogo" src="images/hipr_logo_loop.gif" />
                    </div>
                    <div id="web3Error" class="column col-12 text-center description">
                        HIPR requires a dApp browser to work.
                    </div>
                    <div class="columns">
                        <div class="column col-6 buttonsContainer text-center">
                            <a id="playButton" class="playButton float-right" href="#"><img class="img-responsive" src="images/PlayButton.png" /></a>
                        </div>
                        <div class="column col-6">
                            <a class="infoButton float-left" href="#"><img class="img-responsive" src="images/InfoButton.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="column col-7 col-xl-12">
                    <div class="column col-12 description text-center">
                        The first ever gamified "Internal Review" function; whereas the software validates the integrity of the chain data and secures the network through human initiation of smart contract chacksums.
                    </div>
                    <div class="column col-12">
                        <img class="img-responsive puzzleImage" src="images/puzzle.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</body>
</html>
