  <div class="container">
    <div class="clock"></div>
    <div class="message"></div>
    <div class="robot-holder">

      <div class="robot-1">
        <img class="robot-img robot-1-img vibrate" src="https://cdn-images-1.medium.com/max/306/1*Ajditq7CoiSbj9-2OPAO8w@2x.png" alt="Metamask">
        <div class="robot-1-button-holder">
          <a href="#" class="btn slowButton">Slow</a>
          <a href="#" class="btn betButton">Fast</a>
        </div>
      </div>

      <div class="robot-2">
        <img class="robot-img robot-2-img vibrate" src="https://cdn-images-1.medium.com/max/306/1*Ajditq7CoiSbj9-2OPAO8w@2x.png" alt="Metamask">
        <div class="robot-2-button-holder">
          <a href="#" class="btn slowButton">Slow</a>
          <a href="#" class="btn betButton">Fast</a>
        </div>
      </div>

    </div>
    <h2>Bots</h2>
    <p>{{response}}</p>
  </div>
